<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include slj-dev-build-warning.html -%}
    {%- include header.html -%}
    {%- if site.minima.privacy_dialog -%}
      {%- include privacy-dialog.html -%}
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>

</html>
