---
layout: base
---
{%- include global-variables.html -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        <span class="post-meta">
          {{ post.date | date: date_format_no_hour }}
          {%- if post.has_modified or post.mdate -%}
            {%- if post.has_modified == true or post.mdate == "file" -%}
              {%- assign post_mdate = post.last_modified_at | date_to_xmlschema -%}
            {%- else -%}
              {%- assign post_mdate = post.mdate | date_to_xmlschema -%}
            {%- endif %}
            (Updated: {{ post_mdate | date: date_format_no_hour }})
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to Page {{ paginator.previous_page }}">
              {{ paginator.previous_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to Page {{ paginator.next_page }}">
              {{ paginator.next_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>
